@model TruckerProject2.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Trucker List";
}

<h1>Trucker List</h1>

<p>
    @Html.ActionLink("New Trucker", "Create", null, new { @class = "btn btn-primary" })
    @using (Html.BeginForm("AddLicense", "Home", FormMethod.Post))
    {
        <div class="input-group">
            <span class="input-group-btn">
                <input type="submit" value="New License" class="btn btn-primary" />
            </span>
            <input type="text" class="form-control" name="addLicense" style="width:50px">
        </div>
    }
</p>
<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-5 col-md-offset-2">
                <div class="input-group">
                    <span class="input-group-addon">
                            @{ var val = Request["searchProperty"];}
                            <select name="searchProperty">
                                <option value="FirstName" @(val == "FirstName" ? "selected" : "")>First Name</option>
                                <option value="LastName" @(val == "LastName" ? "selected" : "")>Last Name</option>
                                <option value="Address" @(val == "Address" ? "selected" : "")>Address</option>
                                <option value="City" @(val == "City" ? "selected" : "")>City</option>
                                <option value="State" @(val == "State" ? "selected" : "")>State</option>
                                <option value="Zip" @(val == "Zip" ? "selected" : "")>Zip Code</option>
                                <option value="LicenseNumber" @(val == "LicenseNumber" ? "selected" : "")>License Number</option>
                            </select>
                    </span>
                    <input type="text" name="searchCriteria" class="form-control" />
                    <span class="input-group-btn">
                        <button type="submit" value="Search" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </div>
        </div>
    }
</p>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().LicenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truckers.FirstOrDefault().ExpirationDate)
        </th>
        @foreach (var licenseType in Model.Licenses)
        {
            <th>
                @Html.DisplayNameFor(modelItem => licenseType.LicenseType)
                @Html.DisplayFor(modelItem => licenseType.LicenseType)
            </th>
        }
    </tr>

    @foreach( var trucker in Model.Truckers)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = trucker.TruckerID })
                @Html.ActionLink("Delete", "Delete", new { id = trucker.TruckerID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.LicenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trucker.ExpirationDate)
            </td>
            @foreach (var license in Model.Licenses)
            {
                if(trucker.Licenses.Contains(license))
                {
                    <td>
                        Yes
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }

            }
            
        </tr>
    }
</table>